.card {
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}

.cardHeader {
  display: flex;
  margin-bottom: 10px;
}

.cardHeader h3 {
  color: royalblue;
  margin-left: 10px;
}

.userImg {
  border-radius: 50%;
}

.cardBody img {
  width: 100%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.container img {
  width: 100%;
}

/* Bottom left text */
.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.shortDetails h5,
.shortDetails h3 {
  margin: 0;
  text-align: start;
}

.shortDetails h5 {
  color: silver;
}
.shortDetails h3 {
  color: snow;
}

/* Bottom right text */
.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.favSection button {
  background: transparent;
  border: none;
  color: royalblue;
  font-size: 30px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
}

.footer .likesContainer {
  display: flex;
  align-items: center;
  color: royalblue;
  font-size: 20px;
  font-weight: 600;
}

.likesContainer p {
  margin-left: 10px;
}

p.viewComment {
  color: rgb(88, 87, 87);
}

.tags a {
  color: royalblue;
  font-weight: 600;
  padding-right: 10px;
}
